* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

:root {
  --menu-text-color: #4a4a4a;
  --main-text-color: #ffffff;
  --background-color: #3cdbc0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: var(--main-text-color);
  width: 100%;
}

.logo {
  width: 155px;
  margin-top: 10px;
}

.menu {
  text-transform: uppercase;
  font-size: 16px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  margin-top: 10px;
}

.item {
  color: var(--menu-text-color);
  text-decoration: none;
}

.linkItem {
  text-decoration: none;
  color: var(--menu-text-color);
  padding: 10px;
}

.linkItem:visited {
  color: var(--main-menu-color);
}

.linkItem:hover {
  color: #33bba4;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: center;
}

h1 {
  font-family: var(--font-family);
  color: var(--main-text-color);
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bolder;
  line-height: 40px;
  word-spacing: 100vw;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .menu {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
  }

  h1 {
    font-size: 40px;
    line-height: 60px;
  }
}
